<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="\public/style.css">{% endblock %}

</head>
<body>
{% block header %}  <div class="article-border">
    <div class="row">
        <div class="col-sm-4">
            <img class="img-fluid" src="\images/stootzak.jpg"></div>
        <div class="col-sm-4">
            <img class="img-fluid" src="\images/kickbox.jpg"></div>
        <div class="col-sm-4">
            <img class="img-fluid" src="\images/conormcgregor.jpg"></div>
    </div>
</div> <hr style="background-color: #AA3333">
    <ul class="nav justify-content-center">
        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link"  href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/instructor">Instructeur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/person">Leden</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/training">Training</a>
            </li>
        {% elseif is_granted("ROLE_INSTRUCTOR") %}
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/instructor/lesson/new">Plannen lessen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/instructor/lesson/index">Lessen beheer</a>
            </li>
        {% elseif is_granted('ROLE_USER') %}
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/les/new">Inschrijven op les</a>
            </li>
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="#">Overzicht inschrijvingen</a>#}
            {#            </li>#}
            <li class="nav-item">
                <a class="nav-link" href="/home">Gegevens lid wijzigen</a>
            </li>

        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/trainingsaanbod">Trainings Aanbod</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Lid Worden</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Lokatie & Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Inloggen</a>
            </li>
        {% endif %}
        {% if app.user %}<li class="nav-item">
            <div class="mb-3">
                <a class="nav-link" href="{{ path('app_logout') }}">{{ app.user.username }} Logout</a>
            </div>
            </li>
        {% endif %}
    </ul>
    <hr style="background-color: #AA3333">
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}<style>footer {
    text-align: center;
    background-color: dimgrey;
    height: 80px;
    width: 1100px;
        margin: auto;
    }{% endblock %}












{% block javascripts %}<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
