{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="article-text">
                <h1 style="color: red;">Welkom bij Training Centrum Den Haag</h1>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="article-text">
                <p style="width: 950px;">Den Haag Training Center is een sportschool waar onder professionele begeleiding
                    in een veilige omgeving verschillende soorten martial arts-, indoor bootcamp, personal- en
                    small group trainingen worden aangeboden. Hier kan je je inschrijven op een les of
                    uitschrijven op een les.</p>


            </div>
        </div>
    </div>
    </div>
    </div>
    <br>
    <br>

    <footer>
        <h5 style="color: red;">Training Centrum Den Haag | 010 519 0532</h5>
        <br>
        <h6 style="color: white;">Developed by: Kevin</h6>
    </footer>

    <style>
        .article-border {
            border-style: ridge;
            padding: 17px;
        }
        .article-text {
            text-align: center;
        }
        footer {
            text-align: center;
            background-color: dimgrey;
            height: 80px;
            width: 1100px;
        }
        hr {
            border: 1px solid red;
        }
    </style>

            {% endblock %}
